$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Archivo Narrow', sans-serif;

$colors: (
    primary-text: #463F3A,
    pinked: #C32C72,
    secondary-text: #8D8D8D,
    body: #E5E5E5,
    primary: #F4F3EE,
);